gradio==4.14.0
imutils==0.5.4
numpy
opencv-python==4.8.0.76
scipy==1.11.2
requests==2.28.1
pillow==9.3.0
librosa==0.10.0
opencv-contrib-python==4.8.0.76
huggingface_hub==0.20.2
tqdm==4.66.1
cutlet==0.3.0
numba==0.57.1
imageio_ffmpeg==0.4.9
insightface==0.7.3
unidic==1.1.0
onnx==1.14.1
onnxruntime==1.16.0
onnxruntime-gpu==1.16.0
opencv-python>=4.8.0
psutil==5.9.5
lpips==0.1.4
GitPython==3.1.36
facexlib==0.3.0
gfpgan==1.3.8
gdown==4.7.1
pyannote.audio==3.1.1
TTS==0.21.2
openai-whisper==20231117
inaSpeechSegmenter==0.7.7
resampy==0.4.0
scenedetect[opencv]==0.6.2
uvicorn==0.23.2
starlette==0.35.1
fastapi==0.109.0
fugashi[unidic]